body
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #d3d3d3;
    display : flex;
    flex-direction: column;
}

.bulle
{
    background-color: #ffffff;
    align-self: center;
    padding: 30px;
    border-style: solid;
    border-radius: 5px;
    width : 30%;
    min-width : 200px;
}

.bulle h4
{
    text-align: center;
}

#intro span
{
        background-color: #25dadf;
        font-family: "Comic Sans MS";
        align-self: center;
        padding: 3px;
        border-style: solid;
        border-radius: 10px;
}

#step1
{
        background-color: #25dadf;
}

#step2
{
        background-color: #dddf25;
}

#final
{
        background-color: #df4125;
}
