
#container{
   
    width:100%;
  height:100%;    
  
  background: #e0ffc7 url(http://winnerhun.uw.hu/vigyorpofa.gif);  
}
h1{
    font-size: 5em;
    color:black;
    text-align: center;
}
p{
    border: 5px solid blue;
    background: red;
    margin: 50px 100px 50px 100px;
    padding: 10px 10px 10px 10px;
   box-shadow: -5px 8px 12px 5px rgba(0, 0, 0, 0.7); 
}
.boutton{
    
    float: right;
    background: rgba(0, 0, 0, .5);
    width: 100px;
    height: 30px;
    font-size: 1.5em;
    color: white;
    text-align: center;
    top: 200px;
    cursor: pointer;
    font-weight: bold;
    
}
#bouttonFinal{
    float: right;
    background: rgba(0, 0, 0, .5);
    width: 100px;
    height: 30px;
    font-size: 1.5em;
    color: white;
    text-align: center;
    top: 200px;
    cursor: pointer;
    font-weight: bold;
}
