body{
	background: #0000ff47;	
	font-size:280%;
}

@keyframes blink{
	0%{opacity:0}
	49%{opacity: 0}
	50%{opacity: 1}
}

blink{
	animation: blink 1s infinite;
}

#b1{	
	border-radius: 25px;
	background-color: lime;
	height: 30px;
	width: 100px;
	color: #fd00a1;
	font-weight: bold;
	border:  3px solid blueviolet;
}

#m1,#m2,#m3 {	
	background-color: lime;
	color: red;
	font-weight: bold;
	font-size: 0.6em;
	position: absolute;
	bottom: 0px;
	right: 0px;
	text-decoration: blink;
}

#bloc_page{
	width: 900px;
	margin: auto;	
}
.color{ background-color: #ffeb8bd2;}
.gras{font-weight: bold;}
.autreFont{	
	border:3px solid #0302f5;
}

#premier{
	background-color: #ffa5007a;
	border: 3px solid red;
	position: relative;  
	text-align: center;
	font-size: 24px;
}

#deuxieme{
	background-color: #03a9f491;
	border: 3px solid red;
	position: relative;  
	text-align: center;	
	font-size: 24px;	
}

#troisieme{
	background-color: #ffeb3bd1;
	border: 3px solid red;
	position: relative;  
	text-align: center;
	font-size: 24px;	
}

#quatrieme{
	background-color: #7085f7;
	border: 3px solid red;
	position: relative;  
	text-align: center;	
	font-size: 24px;		
}