body{
	background: #0000ff47;	
}

#bloc_page{
	width: 900px;
	margin: auto;	
}
.color{ background-color: #ffeb8bd2;}
.gras{font-weight: bold;}

#premier{
	background-color: #ffa5007a;
	border: 3px solid red;
	position: relative;  
	text-align: center;
	font-size: 24px;

}
#deuxieme{
	background-color: #03a9f491;
	border: 3px solid red;
	position: relative;  
	text-align: center;	
	font-size: 24px;	
}
#troisieme{
	background-color: #ffeb3bd1;
	border: 3px solid red;
	position: relative;  
	text-align: center;
	font-size: 24px;	
}
#quatrieme{
	background-color: #7085f7;
	border: 3px solid red;
	position: relative;  
	text-align: center;	
	font-size: 24px;		
}